<div class="container-fluid" >
	<div class="row" id="div-profile">    
		<div class="col-sm-4 col-sm-offset-2 animated slideInRight" id="img-profile">
			<%= image_tag @user.avatar.url, width: '300px', height: '300px' %><br>
			<div class="container-fluid" id="hangout">
				<label>[ Use mentor's email to send invitation ]</label><hr>
				<g:hangout render="createhangout"></g:hangout>
			</div>
		</div>
		<div class="col-sm-4 animated slideInDown" id='user-info'>
				<h2 id="username"><%= @user.username %> is
				<a href="javascript:void(0)" class="status">
					<% if @user.status == "active" %>
					<span class="btn btn-success touch">online</span>
					<% else %>
					<span class="btn btn-danger touch">offline</span>
					<% end %> 
				</a></h2>
				<label>mentors email:</label>
				<h3 id="username"><%= @user.email %></h3>
				<h4 id="info">Description :<br> <%= @user.info %></h4>
				<h5>Member since:<br> <%= localize(@user.created_at, :format => '%m/%d/%Y') %></h5>
				<% if @user.id == session[:user_id] %>
				<%= link_to "Edit Profile", edit_user_path(@user), class: "btn" if current_user.present? %> 
				<% end %><br>
				<script src="https://apis.google.com/js/platform.js" async defer></script>
				
		</div>
	</div>
	</div>
</div><br>